#mydiv {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  //   box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  /* filter: blur(25px); */
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  display: none;
  flex-direction: column;
  flex-wrap: wrap;

  #close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    font-family: loos-compressed, sans-serif;
    font-weight: 700;
    padding: 7px;
    color: black;
    opacity: 0.8;
  }

  .mydivcontent {
    padding: 10px;
  }

  .unset {
    all: unset;
  }


  figure {
    max-height: 80%;
    max-width: 90%;
    margin: auto;
    display: table;
    -webkit-filter: none;
    filter: none;
  }

  img {
    max-height: 80vh;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: auto;
  }

  figcaption {
    display: table-caption;
    caption-side: bottom;
  }
}
