
.exhibitions-list {
    font-family: FKScreamerLegacy, sans-serif;
    margin-top: 40vh;
    width: 75%;
    float: right;
    @media(max-width: $mobile) {
        width: 100%;
        margin-top: 25vh;

    }
    a{
        text-decoration: none;
    }
    .card {
        margin-bottom: -60vh;
        
        
        &:last-of-type {
            margin-bottom: -60vh;
            .show-title{
                font-size: var(--ultra);
                font-style: normal;
                font-weight: 700;
                line-height: 73px;
                letter-spacing: 0em;
                text-align: left;
                box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                // min-height: 200px;
                // position: absolute;
                text-transform: uppercase;
                padding: var(--exhibition-margins) var(--exhibition-margins) calc(var(--exhibition-margins) + 47vh) var(--exhibition-margins);
                @media(max-width: $mobile) {
                    word-break: break-word;
                }
             
            }
          }

          .show-title{
        
            font-size: var(--ultra);
            font-style: normal;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0em;
            text-align: left;
            box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            // min-height: 200px;
            // position: absolute;
            text-transform: uppercase;
            padding: var(--exhibition-margins) var(--exhibition-margins) calc(var(--exhibition-margins) + 60vh) var(--exhibition-margins);
            @media(max-width: $mobile) {
                word-break: break-word;
            }
    
          
    
    
        }
    

}

}
