@mixin flex_25() {
    flex: 0 0 25%;
    width: 25%;
}

@mixin flex_50() {
    flex: 0 0 50%;
    width: 50%;
}

@mixin flex_75() {
    flex: 0 0 75%;
    width: 75%;
}

@mixin flex_100() {
    flex: 0 0 100%;
    width: 100%;
}

// Horizontal and vertical align text
@mixin centre_text() {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// CLOSE PANES
@mixin close_panes {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    text-align: right;
    padding: var(--wide) var(--wide) 15px 15px;

    &:hover {
        cursor: pointer;
    }
}

// BACKGROUND GRADIENTS
@mixin gray_gradient {
    background-image: linear-gradient(to bottom right, grey, white);
}
