.page-pane-wrapper {

  h1 {
    text-transform: uppercase;
  }

  .title {
    padding: var(--content-margins) var(--content-margins) var(--content-margins) var(--content-margins);
    color: #C4C4C4;
  }



  article {
    // padding: 44px;

    .title {
      padding: var(--content-margins) var(--content-margins) calc(var(--content-margins) * 2) var(--content-margins);
    }

    .info {
      padding: var(--content-margins);

      .artists {
        width: 360px;
      }
    }

    .carousel {
      img {
        max-width: 100%;
        width: 100%;
        max-height: 90vh;
        -o-object-fit: cover;
        object-fit: cover;
      }

      .embla {
        overflow: hidden;
      }

      .embla__container {
        display: flex;
      }

      .embla__slide {
        position: relative;
        flex: 0 0 100%;
      }
    }

    .content {

      &.page {
        padding: 0 var(--content-margins) calc(var(--content-margins) * 4) var(--content-margins);


        p {
          // font-family: Loos Compressed;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.015em;
          text-align: left;

        }
      }


      // float: left;
    }

    .calendar {
      // height: 65px;
      padding: calc(var(--content-margins) /2);
    }

    .footer {
      padding: calc(var(--content-margins) * 2);
    }



  }



}
